.col-md-offset-3.col-md-6
  %br>/
  \\&gt;
  %br>/
  \\&gt;
  .container
    .well
      %p
        %h3
          Send a message to #{@user.name}
      %p
        = form_tag({controller: messages, action: create}, method: :post) do
        = label_tag :subject
        %p= text_field_tag :subject
        = label :body, Message text
        %p= text_area_tag :body
        = hidden_field_tag(:user, #{@user.id})
        = submit_tag 'Send message', class: btn btn-primary
