.container
  .row
    .col.l8.offset-l2
      .card.white
        .card-content
          .row.center-align
            .col.s12.m6.offset-m3.l8.offset-l2
              %h5.orange-text
                Send a message to
                = @user.name
          .row
            = form_tag( {controller: 'messages', action: 'create' }, class: 'col s12 m6 offset-m3 l8 offset-l2', method: :post) do
              = hidden_field_tag(:user, "#{@user.id}")
              .row
                .input-field.col.s12
                  = text_field_tag :subject, nil
                  %label{:for => "subject"} Subject
              .row
                .input-field.col.s12
                  = text_area_tag :body, nil, class: 'materialize-textarea'
                  %label{:for => "body"} Message:
              = submit_tag 'Send message', class: 'btn waves-effect waves-light'
