.container
  .row
    .col.l6.offset-l3
      .card.white
        .card-content
          .card-title Conversations
          .row
            .col.l5
              %h4
                Trash
                = '(' + @trash.count.to_s + ')'
            .col.l7
              %h3
                = link_to conversations_path do
                  .btn
                    Inbox
                = @conversationscount.count
          - if @trashcount.count > 0
            .row
              = button_to 'Empty Trash', 'empty_trash', :confirm => 'Empty trash?', :class => 'btn'
          - if @trash == nil || @trash.empty?
            %i Your Trash folder is currently empty
          - else
            %table.table.table-striped{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "900"}
              %tr
                %th.emailTH{:scope => "col"} SENDER
                %th.emailTH{:scope => "col"} SUBJECT
                %th.emailTH{:scope => "col"}
              - @trash.each do |conversation|
                %tr
                  %td.emailTD
                    - conversation.participants.each do |participant|
                      - if participant != current_user
                        %b
                          = participant.name
                  %td.emailsubjectTD
                    = link_to conversation.subject, conversation_path(conversation)
                  %td.emailtrashTD
                    = link_to "<i class='material-icons md-dark valign'>move_to_inbox</i>".html_safe, {:controller => 'conversations', :action => 'untrash', :id => conversation.id},  :title => 'Move to Inbox', :method => :post
            = will_paginate @trash
