.row
  = form_for(@user, html: { class: 'col s12 m6 offset-m3 l4 offset-l4', multipart: true } ) do |f|
    = render 'shared/errors'
    .row
      .input-field.col.s12
        = f.text_field :name, class: 'validate', required: true, autofocus: true
        %label{:for => "name"} Name
    .row
      .input-field.col.s12
        = f.email_field :email, class: 'validate', required: true
        %label{:for => "email"} Email
    .row
      .input-field.col.s12
        = f.password_field :password, class: 'validate', required: true
        %label{:for => "password"} Password
    .row
      .input-field.col.s12
        = f.password_field :password_confirmation, class: 'validate', required: true
        %label{:for => "password_confirmation"} Confirm password
    = f.submit class: 'waves-effect waves-light btn'
