<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td class="col-md-4 btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"><%= link_to 'Show', user %></button>
                <% if user == current_user %>
                <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_user_path(user) %></button>
                <button type="button" class="btn btn-default"><%= link_to 'Destroy', user,
                                                                  method: :delete, data: { confirm: 'Are you sure?' } %></button>
                <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
