<div class="col-md-3 col-sm-3 col-xs-12" id="profile-picture">
  <%= image_tag(@user.picture, class: 'img-circle img-responsive') if @user.picture? %>
  <%= image_tag("#{asset_path('users/image_missing.jpg')}", class: 'img-circle img-responsive') if @user.picture.blank? %>
</div>
<div class="col-md-9 col-sm-9 col-xs-12">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  <% if logged_in? %>
    <% if @user == current_user || current_user.admin %>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
    <% end %>
  <% end %>
  <div class="btn-group" style="margin-top: 30px;">
  <% if logged_in? %>
    <% if @user == current_user || current_user.admin %>
      <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default' %>
    <% end %>
    <% if @user != current_user %>
      <%= link_to 'Send message', new_message_path(:user => @user.id), class: 'btn btn-default' %>
    <% end %>
  <% end %>
  <%= link_to 'Back', users_path, class: 'btn btn-default' %>
  </div>
</div>
