.container
  .row
    #profile-picture.col.s12.m3.l3
      = image_tag(@user.picture, class: 'img-circle img-responsive') if @user.picture?
      = image_tag("#{asset_path('users/image_missing.jpg')}", class: 'img-circle img-responsive') if @user.picture.blank?
    .col.s12.m9.l9
      %p
        = @user.name
      - if logged_in?
        - if @user == current_user || current_user.admin
          %p
            Email:
            = @user.email
          = link_to 'Edit', edit_user_path(@user), class: 'waves-effect waves-light btn'
        - if @user != current_user
          = link_to 'Send message', new_message_path(:user => @user.id), class: 'waves-effect waves-light btn'
      = link_to 'Back', users_path, class: 'waves-effect waves-light btn'
