<nav class="light-blue lighten-1">
  <div class="nav-wrapper container">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Products', products_path %></li>
      <% if current_user %>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to 'Play', '#' %></li>
        <li><a class='dropdown-button light-blue darken-2' href='#' data-activates='dropdown1'><%= truncate(current_user.name, lenght: 30) %><i class="material-icons right">arrow_drop_down</i></a></li>
        <li>
          <ul id='dropdown1' class='dropdown-content'>
            <li><%= link_to 'Inbox', conversations_path, class: "light-blue-text text-darken-2" %></li>
            <li><%= link_to 'Profile', current_user, class: "light-blue-text text-darken-2"  %></li>
            <li class="divider"></li>
            <li><%= link_to 'Log Out', logout_path, method: :delete, class: "light-blue-text text-darken-2"  %></li>
          </ul>
        </li>

      <% else %>
        <li><%= link_to 'Sign Up', signup_path %></li>
        <li><%= link_to 'Log In', login_path %></li>
      <% end %>
    </ul>

    <ul class="side-nav" id="mobile-demo">
      <li>
        <%= link_to root_path do %>
          <div class="light-blue-text text-darken-2 valign-wrapper"><i class="material-icons md-dark valign">home</i><span class="side-nav-center-text"> Home </span></div>
        <% end %>
      </li>
      <li>
        <%= link_to products_path do %>
          <div class="light-blue-text text-darken-2 valign-wrapper"><i class="material-icons md-dark valign">shop</i><span class="side-nav-center-text"> Products </span></div>
        <% end %>
      </li>
      <li class="divider"></li>
      <% if current_user %>
        <li>
          <%= link_to users_path do %>
            <div class="light-blue-text text-darken-2 valign-wrapper"><i class="material-icons md-dark valign">contacts</i><span class="side-nav-center-text"> Users </span></div>
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            <div class="light-blue-text text-darken-2 valign-wrapper"><i class="material-icons md-dark valign">casino</i><span class="side-nav-center-text"> Play </span></div>
          <% end %>
        </li>
        <li>
          <%= link_to conversations_path do %>
            <div class="light-blue-text text-darken-2 valign-wrapper"><i class="material-icons md-dark valign">mail_outline</i><span class="side-nav-center-text"> Inbox </span></div>
          <% end %>
        </li>
        <li>
          <%= link_to current_user do %>
            <div class="light-blue-text text-darken-2 valign-wrapper"><i class="material-icons md-dark valign">account_circle</i><span class="side-nav-center-text"> Profile </span></div>
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to logout_path, method: :delete do %>
            <div class="light-blue-text text-darken-2 valign-wrapper"><i class="material-icons md-dark valign">power_settings_new</i><span class="side-nav-center-text"> Log Out </span></div>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to signup_path do %>
            <div class="light-blue-text text-darken-2 valign-wrapper"><i class="material-icons md-dark valign">border_color</i><span class="side-nav-center-text"> Sign Up </span></div>
          <% end %>
        </li>
        <li>
          <%= link_to login_path do %>
            <div class="light-blue-text text-darken-2 valign-wrapper"><i class="material-icons md-dark valign">exit_to_app</i><span class="side-nav-center-text"> Log In </span></div>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>
