!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title jStore
    = favicon_link_tag  'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    = csrf_meta_tags
  %body
    = render 'layouts/partials/header'
    - if current_user
      - if current_user.activation_state == "pending"
        .alert.alert-danger{:style => "text-align:center"} Please activate your account.
    - flash.each do |key, value|
      #alert-fade-out
        %div{:class => "alert alert-#{key}"}
          = value
    .container
      = yield
    - if logged_in?
      = render 'shared/current_users'
